*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar for small device */
@media (max-width: 767px) {
    .navcontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 40px;
    
    }
    
    .navlogo{
       display: flex;
       justify-content: center;
       gap: 5px;
    }
    
    .navlogo img{
       width: 25px;
       height: 20px;
       padding-top: 5px;
    }
    
    .navtext{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .navabout {
        gap: 30px;
        padding-top: 5px;
        text-decoration: none;
        color: #3C354F;
        text-align: center;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .navabout a{
        text-decoration: none;
        color: #3C354F;
        font-size: 12px;
    }

    .abouttext1{
        padding: 5px 0 10px 0;
    }
    
    .FollowUs{
        width: 120px;
        height: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 5px ;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: #3C354F;
        text-align: center;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 8px;
        background-color: rgba(11, 2, 35, 0.10);
    }    

    .banner{
        display:flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        background-color: #FFF;;

    }

    .bannerText{
        padding: 50px 100px ;
    }

    .bannerImage img{
        width: 200px;
        height: 200px;
    }

    .bannerText h4{
        color: #0B0223;
        text-align: left;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }

    .bannerText h1{
        text-align: left;
        font-family: Work Sans;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .text3{
        display: flex;
        gap: 5px;
        padding: 5px;
        font-size: 10px;
    }
    .bannerButtonDesign{
        padding: 5px 10px;
        border-radius: 48px;
        border: none;
        color: white;
        font-size: 5px;
        cursor: pointer;
    }
    /* banner */

    /* we are gamer */
    .weRgamer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }

    .weRgamerImage img{
        width: 300px;
        height: 200px;
    }

    .weRgameText{
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;


    }

    .weRgamer h1{
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .weRgamer p{
        width: 320px;

        color: #534C64;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
    }
    .weRgamer h4{
        color: #534C64;
        font-family: Work Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 15px; 
    }

    .weRgamer h2{
        color: #534C64;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
    }
    /* we are gamer */

    /* Funny Video */
    .funnyVideo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15%;
    }



    .FVtext h2{
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .FVtext p{
        color: #534C64;
        text-align: center;
        font-size: 10px;
        font-style: normal;
        line-height: 30px;
        margin-bottom: 5%;
    }

    .FVimg{
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        justify-content: center;
    }
    
    .FVimgD p{
        padding-top: 0.5%;
        color: #534C64;
        font-size: 8px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; 
    }

    .FVimgD img{
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;
    }
    
    /* Funny Video */

    /* Play Instant */
    .playInstant{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .playInstantText h1{
        width: 300px;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; 
        padding-top: 15%;
    }

    .playInstantText p{
        width: 300px;
        color: #534C64;
        text-align: left;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        padding-bottom: 15%;
    }

    .PIimage2 img{
        width: 100px;
        height: 100px;
        position: relative;
        top: -60px;
        left:-30px;
        
    }

    .PIimage1 img{
        width: 220px;
        height: 220px;
    }
   
    /* Play Instant */

    /* Play Online */
    .playOnline{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .playOnlineText h1{
        width: 300px;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; 
        padding-top: 15%;
    }

    .playOnlineText p{
        width: 300px;
        color: #534C64;
        text-align: left;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        padding-bottom: 15%;
    }

    .POimage2 img{
        width: 100px;
        height: 100px;
        position: relative;
        top: -60px;
        left:-30px;
        
    }

    .POimage1 img{
        width: 220px;
        height: 220px;
    }
   
    /* Play Instant */

    /* Customer Review */
    .customerReview{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 8%;
        align-items: center;
        justify-content: center;
        margin: 20% 0;
        padding-bottom: 20%;
        background-color: rgba(255, 66, 165, 1), rgba(255, 66, 165, 1);
    }

    .reviewDesign{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
      
    }

    .reviewDesign:hover{
    border:10px;
    border-radius: 50%;
    border-color: #F948B2;
    cursor: pointer; 
    }

    .reviewDesign p{
        width: 80px;
        color: #0B0223;
        font-size: 15px;
        font-weight: 400;   
    }

    /* Customer Review */

     /* Career */
     .career{
        background-color:#FF42A5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0 100px ;
        color: white;
    }

    .careertext{
        display: flex;
        flex-direction: column;
        padding-bottom: 20%;
        text-align: center;

    }
    .careertextTitle p{
        width: 250px;
        color: #FFF;
        padding:5%;
        font-size: 10px;
        font-weight: 400;
        line-height: 20px; /* 166.667% */

    }
    .careertextTitle h1{
        text-align: center;
        color: #FFF;
        font-size: 30px;
        padding: 10px 0;
    }

    .careerTextLR{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .careertextLeft{
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .careertextLeft p{
        font-size: 10px;
    }

    .careertextRight p{
        font-size: 10px;
    }
    .careertextRight{
        text-align: right;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .careerImage img{
        width: 300px;
        height: 300px;
    }

    .careerButton{
        margin-top: 5%;
    }

    .careerButton a{
        align-items: center;
        background-color: white;
        border-radius: 10px;
        padding: 10px 10px;
        font-size: 10px;
        color: #FF42A5;

    }
  
    /* Career */

    /* footer */
    .footerlogo{
        display: flex;
       justify-content: center;
       align-items: center;
       gap: 5%;
      
    }
    .footerlogo img{
       width: 50px;
       height: 30px;
      
    }
    .footerlogo h1{
       font-size: 30px;
      
    }

    .footer{
        background: #0B0223;
        display: flex;
        flex-direction: column;
        padding: 5% 0;
        gap: 40px;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;

    }

    .footerText1{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap:10px;
    }
    .footerText2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap:6px;

    }
    .footerIcon{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap:10px;
        column-gap:20px;
    }


    /* footer */
}

/* Navbar for medium device */
@media (min-width: 768px) and (max-width: 1023px) {
    .navcontainer{
        padding: 28px 40px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 50px;
    
    }
    
    .navlogo{
       display: flex;
       justify-content: center;
       gap: 10px;
    }
    
    .navlogo img{
       width: 30px;
       height: 25px;
       padding-top: 5px;
    }
    
    .navtext{
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    
    .navabout {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding-top: 8px;
        text-decoration: none;
        color: #3C354F;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .navabout a{
        text-decoration: none;
        color: #3C354F;
    }
    
    .FollowUs{
        width: 200px;
        height: 36px;
        padding-top: 8px;
        display: flex;
        justify-content: center;
        gap: 10px;
        color: #3C354F;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 8px;
        background-color: rgba(11, 2, 35, 0.10);
    }    

    /* banner */
    .banner{
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: #FFF;;

    }

    .bannerText{
        padding: 100px 20px ;
    }

    .bannerImage img{
        width: 400px;
        height: 350px;
    }

    .bannerText h4{
        color: #0B0223;
        text-align: left;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }

    .bannerText h1{
        text-align: left;
        font-family: Work Sans;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .text3{
        display: flex;
        gap: 5px;
        padding: 5px;
        font-size: 10px;
    }

    .bannerButtonDesign{
        padding: 10px 20px;
        border-radius: 48px;
        border: none;
        color: white;
        font-size: 8px;
        cursor: pointer;
    }
    /* banner */

    /* we are gamer */
    .weRgamer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
        text-align: end;
    }

    .weRgamerImage img{
        width: 300px;
        height: 200px;
    }

    .weRgameText{
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: 5px;


    }

    .weRgamer h1{
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .weRgamer p{
        width: 350px;
        text-align: right;
        color: #534C64;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
    .weRgamer h4{
        color: #534C64;
        text-align: right;
        font-family: Work Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 15px; 
    }

    .weRgamer h2{
        color: #534C64;
        font-family: Work Sans;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
    }
    /* we are gamer */

    /* Funny Video */
    .funnyVideo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 15%;
    }



    .FVtext h2{
        text-align: center;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .FVtext p{
        color: #534C64;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 5%;
    }

    .FVimg{
        width: 400px;
        height: 400px;
        display: flex;
        gap: 5px;
        margin-left: 10%;
    }
    
    .FVimgD p{
        width: 100px;
        padding-top: 2%;
        color: #534C64;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
    }

    .FVimgD img{
        width: 150px;
        height: 150px;
    }
    
    /* Funny Video */

    /* Customer Review */
    .customerReview{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10%;
        align-items: center;
        justify-content: center;
        margin: 10% 0;
        background-color: rgba(255, 66, 165, 1), rgba(255, 66, 165, 1);
        padding-bottom: 10%;
      
    }

    .reviewDesign{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
      
    }

    .reviewDesign:hover{
    border:10px;
    border-radius: 50%;
    border-color: #F948B2;
    cursor: pointer;
      
    }

    .reviewDesign p{
        color: #0B0223;
        width: 10%;
        font-size: 15px;
        font-weight: 400;
      
    }
    /* Customer Review */

        /* Play Instant */
        .playInstant{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10%;
            padding-top: 5%;
            padding-bottom: 5%;
        }
    
        .playInstantText h1{
            width: 300px;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 50px; 
            padding-bottom: 5%;
        }
    
        .playInstantText p{
            width: 300px;
            color: #534C64;
            text-align: left;
            font-size: 12px;
            font-weight: 400;
            line-height: 30px;
        }
    
        .PIimage2 img{
            width: 100px;
            height: 100px;
            position: relative;
            top: -60px;
            left:-50px;
            
        }
    
        .PIimage1 img{
            width: 300px;
            height: 300px;
        }
       
        /* Play Instant */
        /* Play Online */
        .playOnline{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            gap: 10%;
            padding-top: 5%;
            padding-bottom: 5%;
        }
    
        .playOnlineText h1{
            width: 300px;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 50px; 
            padding-bottom: 5%;
        }
    
        .playOnlineText p{
            width: 300px;
            color: #534C64;
            text-align: left;
            font-size: 12px;
            font-weight: 400;
            line-height: 30px;
        }
    
        .POimage2 img{
            width: 100px;
            height: 100px;
            position: relative;
            top: -60px;
            right:-250px;
            
        }
    
        .POimage1 img{
            width: 300px;
            height: 300px;
        }
       
        /* Play Online */

        /* Career */
        .career{
            background-color:#FF42A5;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding:0 100px ;
            color: white;
        }
    
        .careertext{
            display: flex;
            flex-direction: column;
    
        }
        .careertextTitle p{
            width: 200px;
            color: #FFF;
            font-size: 10px;
            font-weight: 400;
            line-height: 20px; /* 166.667% */
    
        }
        .careertextTitle h1{
            width: 4%;
            color: #FFF;
            font-size: 30px;
            padding: 10px 0;
        }
    
        .careerTextLR{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    
        .careertextLeft{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .careertextLeft p{
            font-size: 10px;
        }
    
        .careertextRight p{
            font-size: 10px;
        }
        .careertextRight{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    
        .careerImage img{
            width: 400px;
            height: 400px;
        }
    
        .careerButton{
            margin-top: 5%;
        }
    
        .careerButton a{
            background-color: white;
            border-radius: 10px;
            padding: 10px 10px;
            font-size: 10px;
            color: #FF42A5;
    
        }
      
        /* Career */

    /* footer */
    .footerlogo{
        display: flex;
       justify-content: center;
       align-items: center;
       gap: 5%;
      
    }
    .footerlogo img{
       width: 50px;
       height: 30px;
      
    }
    .footerlogo h1{
       font-size: 30px;
      
    }

    .footer{
        background: #0B0223;
        display: flex;
        flex-direction: column;
        padding: 5% 0;
        gap: 40px;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;

    }

    .footerText1{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap:10px;
    }
    .footerText2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap:6px;

    }
    .footerIcon{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap:10px;
        column-gap:20px;
    }


    /* footer */
}
   



/* Navbar for large device */
@media (min-width: 1024px) {
    .navcontainer{
        padding: 28px 40px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 400px;
    
    }
    
    .navlogo{
       display: flex;
       justify-content: center;
       gap: 10px;
    }
    
    .navlogo img{
       width: 30px;
       height: 25px;
       padding-top: 5px;
    }
    
    .navtext{
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    
    .navabout {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding-top: 8px;
        text-decoration: none;
        color: #3C354F;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .navabout a{
        text-decoration: none;
        color: #3C354F;
    }
    
    .FollowUs{
        width: 200px;
        height: 36px;
        padding-top: 8px;
        display: flex;
        justify-content: center;
        gap: 10px;
        color: #3C354F;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 8px;
        background-color: rgba(11, 2, 35, 0.10);
    }    

    /* banner */
    .banner{
        display:flex;
        justify-content: center;
        background-color: #FFF;;
     

    }

    .bannerText{
        padding: 140px 140px ;
    }

    .bannerImage img{
        width: 500px;
        height: 500px;
    }

    .bannerText h4{
        color: #0B0223;
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }

    .bannerText h1{
        text-align: center;
        font-family: Work Sans;
        font-size: 95px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .text3{
        display: flex;
        gap: 5px;
        padding: 5px;
    }

    .bannerButton{
        gap: 10px;
        display: flex;
        margin-top: 10px;
    }

    .bannerButtonDesign{
        padding: 10px 30px;
        border-radius: 48px;
        border: none;
        color: white;
        cursor: pointer;
    }
    /* banner */

    /* we are gamer */
    .weRgamer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
        text-align: end;
    }

    .weRgameText{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .weRgamerImage img{
        width: 500px;
        height: 300px;
    }

    .weRgamer h1{
        font-size: 50px;
        font-weight: 600;
        text-transform: uppercase;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .weRgamer p{
        width: 520px;
        color: #534C64;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
    .weRgamer h4{
        color: #534C64;
        text-align: right;
        font-family: Work Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; 
    }

    .weRgamer h2{
        color: #534C64;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
    }
    /* we are gamer */

    /* Funny Video */
    .funnyVideo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }



    .FVtext h2{
        text-align: center;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .FVtext p{
        color: #534C64;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 5%;
    }

    .FVimg{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .FVimgD p{
        width: 250px;
        padding-top: 2%;
        color: #534C64;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 30px;
    }

    .FVimgD img{
        width: 200px;
        height: 200px;
      
    }
    
    /* Funny Video */

    /* Play Instant */
    .playInstant{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
        padding-top: 10%;
    }

    .playInstantText h1{
        width: 300px;
        font-size: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px; 
        padding-bottom: 5%;
    }

    .playInstantText p{
        width: 300px;
        color: #534C64;
        text-align: left;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }

    .PIimage2 img{
        width: 200px;
        height: 200px;
        position: relative;
        top: -150px;
        left:-50px;
        
    }

    .PIimage1 img{
        width: 500px;
        height: 500px;
    }
   
    /* Play Instant */
    /* Play Online */
    .playOnline{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 10%;
        padding-top: 10%;
    }

    .playOnlineText h1{
        width: 300px;
        font-size: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px; 
        padding-bottom: 5%;
    }

    .playOnlineText p{
        width: 300px;
        color: #534C64;
        text-align: left;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }

    .POimage2 img{
        width: 200px;
        height: 200px;
        position: relative;
        top: -150px;
        right:-370px;
        
    }

    .POimage1 img{
        width: 500px;
        height: 500px;
    }
   
    /* Play Online */

    /* Customer Review */
    .customerReview{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 10%;
        align-items: center;
        justify-content: center;
        margin: 10% 0;
        background-color: rgba(255, 66, 165, 1), rgba(255, 66, 165, 1);
    }

    .reviewDesign{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
      
    }

    .reviewDesign:hover{
    border:10px;
    border-radius: 50%;
    border-color: #F948B2;
    cursor: pointer;
      
    }

    .reviewDesign p{
        color: #0B0223;
        font-size: 15px;
        font-weight: 400;
      
    }



    /* Customer Review */

    /* Career */
    .career{
        background-color:#FF42A5;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding:5% 100px ;
        color: white;
    }

    .careertext{
        display: flex;
        flex-direction: column;

    }
    .careertextTitle p{
        width: 480px;
        color: #FFF;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px; /* 166.667% */

    }
    .careertextTitle h1{
        width: 480px;
        color: #FFF;
        font-size: 38px;
        font-weight: 700;
        line-height: 50px; /* 125% */
    }

    .careerTextLR{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .careertextLeft{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .careertextRight{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .careerImage img{
        width: 450px;
        height: 450px;
    }

    .careerButton{
        margin-top: 5%;
    }

    .careerButton a{
        background-color: white;
        border-radius: 10px;
        padding: 15px 20px;
        color: #FF42A5;

    }
  
    /* Career */

    /* footer */
    .footerlogo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
      
    }
    .footerlogo img{
       width: 50px;
       height: 30px;
      
    }
    .footerlogo h1{
       font-size: 30px;
    }

    .footer{
        background: #0B0223;
        display: flex;
        flex-direction: column;
        padding: 5% 0;
        gap: 40px;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;

    }

    .footerText1{
        display: flex;
        gap:15px;
    }
    .footerText2{
        display: flex;
        gap:15px;

    }
    .footerIcon{
        display: flex;
        gap:20px;
    }


    /* footer */
}
  



 